.pages {

  li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    &:not(:last-child){
      margin-right: 10px;
    }
    a{
      border: 1px solid #fe5f1e;
      border-radius: 50%;
      padding: 10px 15px;
      &:hover{
        color: #fff;
        background-color: #fe5f1e;
      }
    }
  }

  :global{
    .selected{
      a{
        color: #fff;
        background-color: #fe5f1e;
      }
    }
  }

}